.vscode/
.DS_Store
__pycache__/
*-checkpoint.ipynb
.venv
*.egg*
build/*
_C.*
*.nii.gz
*.csv
outputs/*
checkpoints/*.pt
*.pt
data/demo_sample.npz

MR_dataset/

exp_log/
**/.ipynb_checkpoints/

wandb/
Task09_Spleen/
._Task09_Spleen
logs/

medsam2_exp_log/

val_logs/


medsam2.1_exp_log/
/new_logs
medsam2.2_exp_log/
bbx_logs/MedSAM2_bbx_fold5_9264291.err
bbx_logs/MedSAM2_bbx_fold5_9264291.out
bbx_logs/MedSAM2_bbx_fold5_9313178.err
bbx_logs/MedSAM2_bbx_fold5_9313178.out
IWOAI/output_images/
