.vscode/
.DS_Store
__pycache__/
*-checkpoint.ipynb
.venv
*.egg*
build/*
_C.*
*.nii.gz
*.csv
outputs/*
checkpoints/*.pt
*.pt
data/demo_sample.npz

MR_dataset/

exp_log/
**/.ipynb_checkpoints/

wandb/
Task09_Spleen/
._Task09_Spleen
